[project]
	description = upload server for multiple files without underscore 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mf93
[access "refs/for/refs/*"]
	read = group user/mf93
	push = group user/mf93
	label-Code-Review = -2..+2 group user/mf93
	label-Verified = -1..+1 group user/mf93
	rebase = group user/mf93
	removeReviewer = group user/mf93
	submit = group user/mf93
[access "refs/heads/*"]
	read = group user/mf93
	create = group user/mf93
	push = +force group user/mf93
	pushMerge = group user/mf93
[access "refs/tags/*"]
	push = group user/mf93
	push = +force group user/mf93
